*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 80px 350px;
    background-color: black;
    background-repeat: no-repeat;
}

.phone-mode-message{
    display: none;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    margin: 0 auto;
    border-radius: 20px;
    width: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    gap: 50px;
    padding: 50px;
    backdrop-filter: blur(10px);
}

.container .content{
    width: auto;
    height: auto;
    display: inline-flex;
    justify-content: center;
}

.container .content img{
    width: 400px;
    height: 74vh;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #333;
}
.butt{
    position: absolute;
    bottom: 10%;
}

.container .content button{
    text-align: center;
    padding: 11px;
    /* color: darkorange; */
    color: #fff;
    font-weight: 1000;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content button:hover{
    border: 0.5px solid #fff;
    transform: translate(0.5%,-0.5%);
    transition: 0.5s;
    transition-delay: 0.1s;
}

.container .content-card{
    width: auto;
    height: 69vh;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.container .content-card h1{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    margin: auto 0 0 0;
}

.container .content-card p{
    width: auto;
    font-weight: 800;  
    justify-content: center;
    align-items: center; 
    margin: 40px auto;
    color: #fff;
    text-align: left;
    margin-bottom: 3px;
}

.container .content-card p audio{
    margin:15px 0 10px 160px;
    align-items: center;
    justify-content: center;
    height: 4vh;
}

.emm{
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    margin: auto auto auto auto;
    font-weight: 800;
    color: rgb(175, 175, 175);
    bottom: 30px;
}

.container .hidden-content{
    display: none;
    transition: 0.5s;
    transition-delay: 0.2s;
    overflow: hidden;
    overflow-y: scroll;
    min-width: 31rem;
}

.container .hidden-content.reveal-btn{
    display: block;
}
.audio{
    display: flex;
    justify-content: center;
    margin: 1rem 0rem;
}

/* media queries for phones */
@media (max-width: 760px){
    body{
        width: 100%;
        padding: 1rem;
    }

    .container{
        width: 100%;
        margin: 0;
        display: flex
;
        flex-direction: column;
        height: 97%;
        padding: 1rem;
    }

   .container .content{
        width: auto;
        height: 100% !important;
        display: inline-flex
    ;
     justify-content: flex-start;
        flex-direction: column;
    }

    .phone-mode-message{
        color: white;
        font-size: larger;
        margin: 1rem 0;
        font-weight: 500;
        text-align: center;
    }

    .container .content img{
        width: 100%;
    }

    .butt{
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 0;
    }

    .container .content button{
        width: 80px;
        margin: 0;
    }
    
    .container .content-card{
        min-width: 100%;
        font-size: 14px;
        overflow: scroll;
    }
    
    .container .content-card p audio{
        margin: 20px;
        width: 100px;
    }
    .emm{
        margin-top: 4rem;
    }

    .phone-mode-message{
        display: block;
    }
}